@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-reveal {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slide-up-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes alert {
  0% {
    transform: translateY(-30px) rotate(15deg);
    opacity: 0;
  }
  10% {
    transform: translateY(10px) rotate(0deg);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.winner-alert {
  animation-name: alert;
  animation-duration: 2.75s;
  animation-delay: 0;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards, none; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards, none; /* FF 5+ */
  -o-animation-fill-mode: forwards, none; /* Not implemented yet */
  -ms-animation-fill-mode: forwards, none; /* IE 10+ */
  animation-fill-mode: forwards, none;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff,
    0 0 50px #fff,
    0 0 60px #fff,
    0 0 70px #fff;
}

.animate-reveal-hand {
  opacity: 0;
  animation-name: reveal, slide-reveal;
  animation-duration: 0.5s;
  animation-delay: var(--animation-delay);
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards, none; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards, none; /* FF 5+ */
  -o-animation-fill-mode: forwards, none; /* Not implemented yet */
  -ms-animation-fill-mode: forwards, none; /* IE 10+ */
  animation-fill-mode: forwards, none;
}

.animate-slide-in-down {
  animation-name: slide-in-down;
  animation-duration: 0.5s;
  animation-delay: var(--animation-delay);
  animation-iteration-count: 1;
  /* animation-timing-function: ease-in-out; */
}

.animate-slide-in-up {
  animation-name: slide-in-up;
  animation-duration: 0.25s;
  animation-delay: var(--animation-delay);
  animation-iteration-count: 1;
  /* animation-timing-function: ease-in-out; */
}

.animate-slide-out {
  animation-name: slide-out;
  animation-duration: 0.25s;
  animation-delay: var(--animation-delay);
  animation-iteration-count: 1;
  /* animation-timing-function: ease-in-out; */
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards;
}

.animate-slide-up-out {
  animation-name: slide-up-out;
  animation-duration: 0.25s;
  animation-delay: var(--animation-delay);
  animation-iteration-count: 1;
  /* animation-timing-function: ease-in-out; */
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards;
}

@keyframes selected {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.animate-selected {
  animation-name: selected;
  animation-duration: 0.5s;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards;
}
